{
  "extends": "eslint-config-egg",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "semi": [
      "error",
      "never"
    ],
    "strict": [
      "error",
      "never"
    ]
  }
}
